@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&display=swap');
h1{
    font-family: 'Pacifico', cursive;
    letter-spacing : 4px;
}
body{
    background-image: url("bg.jpg");
    
}
    #left {
    font-family: 'Alfa Slab One', cursive;
    float:left; 
    background:green;
    width:33.333%;
    height:280px;
    border-radius:10px;
    }
    #middle{
    font-family: 'Alfa Slab One', cursive;
    float:right;
    background:yellow;
    width:33.333%;
    height:280px;
    border-radius:10px;
    
    }  
    #right{
    font-family: 'Alfa Slab One', cursive;
    float:right;
    background: blue;
    width:33.333%;
    height:280px;
    border-radius:10px;
    }  
    #box{
    font-family: 'Alfa Slab One', cursive;
    float:left;
    padding:10px;
    border:solid orange 2px;
    background-color: orange;
    border-radius:5px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-weight : bolder;
    }   
    .btn{
    font-family: 'Alfa Slab One', cursive;
    cursor: pointer;
    padding:10px;
    float:right;
    margin-top:20px;
    border: #0abfbf solid 2px;
    font-size:20px;
    background: #0abfbf;
    border-radius: 5px;
    }
    .common{
    font-size:40px;
    text-align: center;
    padding-top:140px;
    }